$white: #ffffff;
$bg-gray: #F8F8FA;
$border-white: #F2F2F2;
$black: #000000;
$dark-gray: #333333;
$bright-gray: #393939;
$gray:#5a5a5a;
$border-gray: #d5d5d5;
$light-gray: #aaaaaa;
$blue: #73aff4;
$bright-blue: #7397F5;
$hover-blue: #125BAE;
$light-blue: #E2EFFF;