@import './styles/variables.scss';
@import './styles/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0px 100px 36px 100px;
}

.main {
  display: flex;
  gap: 36px;
  max-width: 1720px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0px 50px 36px 50px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 8px 16px;
  }
}